* {
	box-sizing: border-box;
}

body {
	background-color: hsl(217, 54%, 11%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	overflow: hidden;
}

/* Typography */

.title {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	margin: .5em 0 .5em;
	transition: color 300ms ease-in-out;
}

.title:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

.description {
	color: rgb(107, 129, 161);
	font-weight: 300;
	font-size: 1rem;
	margin: 0 0 .75em;
	line-height: 1.6;
}


.price {
	color: hsl(178, 100%, 50%);
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: .35em;
}

.eth-icon {
	font-size: .75rem;
}

.time {
	color: rgb(107, 129, 161);
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: .35em;
}

.line {
	color: hsl(215, 32%, 27%);
}

.avatar {
	height: 50px;
	border: white 1px solid;
	border-radius: 50%;
}

.sub-text {
	color: rgb(107, 129, 161);
	font-size: 1rem;
}

.sub-text span {
	color: white;
	transition: color 300ms ease-in-out;
}

.sub-text span:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

/* Layout */

.container {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 85%;
	background-color: hsl(216, 50%, 16%);
	border-radius: .5em;
	overflow: scroll;
}

.content-container {
	padding: 1em 1em 0 1em;
}

.container .main-image {
	position: relative;
}

.container .main-image div {
	position: absolute;
	top: 0;
	background-color: hsl(178, 100%, 50%, 60%);
	width: 100%;
	height: calc(100% - 4px);
	z-index: 999;
	opacity: 0;
	border-radius: .5em;
	transition: opacity 0.3s ease-in-out;
}

.container .main-image div:hover {
	opacity: 1;
	cursor: pointer;
}

.container .main-image div img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nft {
	width: 100%;
	border-radius: .5em;
}

.creator {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .75em;
	margin: auto 0 1em;
}

.price-time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 .75em;
}

/* Media Queries */

@media screen and (min-height: 800px) and (orientation: portrait) {
	.container {
		height: 70%;
	}
}

@media screen and (min-height: 1050px) and (orientation: portrait) {
	.container {
		height: 55%;
	}
}

@media screen and (min-height: 1400px) and (orientation: portrait) {
	.container {
		height: 40%;
	}
}

@media screen and (min-width: 576px) {
	.container {
		width: 60%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 45%;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 33%;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 29%;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 24%;
	}
}

@media screen and (min-width: 1600px) {
	.container {
		width: 20%;
	}
}

@media screen and (min-height: 700px) and (orientation: landscape) {
	.container {
		height: 80%;
	}
}

@media screen and (min-height: 800px) and (orientation: landscape) {
	.container {
		height: 72%;
	}
}

@media screen and (min-height: 900px) and (orientation: landscape) {
	.container {
		height: 65%;
	}
}

@media screen and (min-height: 1000px) and (orientation: landscape) {
	.container {
		height: 58.7%;
	}
}

@media screen and (min-height: 1200px) and (orientation: landscape) {
	.container {
		height: 54.5%;
	}
}